<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="home" method="post">
    {%csrf_token%}
<div>
<label for="username"> username or email id &nbsp</label>
<input type="text" name='utext'> <br><br>
<label for="birthday"> enter DOB &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp</label>
<input type="date" id="birthday" name="birthday">
<button type="submit">submit!</button>
</div>
</form>
</body>
</html>